# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/

# 모델 가중치 / 체크포인트 (용량 큰 바이너리)
*.pt
*.pth
*.onnx
*.engine
*.trt
*.xml
*.bin

# 학습 결과물
runs/
outputs/

# MLflow
mlruns/

# 데이터셋
datasets/
data/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
